@model leave_management.Models.LeaveRequestVM

@{
    ViewData["Title"] = "Details";
}

@if (Model.Approved == null)
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-warning">Pending Approval</h4>
        <p>
            <strong> Requesting Employee:</strong> @Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname
        </p>
        <hr />
        <p>
            @Html.DisplayNameFor(model => model.DateRequested) - @Html.DisplayFor(model => model.DateRequested)
        </p>
    </div>
}
else if (Model.Approved == true)
{
    <div class="alert alert-success" role="alert">
        @*<h4 class="alert-heading">Approved By @Model.ApprovedBy.Firstname @Model.ApprovedBy.Lastname</h4>*@
        @*<h4 class="alert-heading">Approved By @Model.ApprovedBy.UserName</h4>*@
        <p>
            <strong>@Html.DisplayNameFor(model => model.RequestingEmployeeId):</strong> @Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname
        </p>
        <hr />
        <p>
            @Html.DisplayNameFor(model => model.DateRequested) - @Html.DisplayFor(model => model.DateRequested)
        </p>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Rejected By @Model.ApprovedBy.Firstname @Model.ApprovedBy.Lastname</h4>
        <p>
            <strong>@Html.DisplayNameFor(model => model.RequestingEmployeeId):</strong> @Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname
        </p>
        <hr />
        <p>
        @Html.DisplayNameFor(model => model.DateRequested) - @Html.DisplayFor(model => model.DateRequested)
        </p>
    </div>
}
    
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Employee Name:
                </dt>
                <dd class="col-sm-10">
                    @Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname
                </dd>
                <dt class="col-sm-2">
                    Start Date:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class="col-sm-2">
                    End Date:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
                <dt class="col-sm-2">
                    Total Number of Days:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TotalDays)
                </dd>
                <dt class="col-sm-2">
                    Leave Type:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LeaveType.Name)
                </dd>
                <dt class="col-sm-2">
                    Comments:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RequestComments)
                </dd>
            </dl>

            <div>
                @if (Model.Approved == null)
                {
                    <a asp-action="ApproveRequest" class="btn btn-success" asp-route-id="@Model.Id">
                        <i class="fa fa-check"></i> Approve
                    </a>
                    <a asp-action="RejectRequest" class="btn btn-danger" asp-route-id="@Model.Id">
                        <i class="fa fa-times"></i>  Reject
                    </a>
                }

                <a asp-action="Index" class="btn btn-outline-secondary">
                    <i class="fa fa-arrow-left"></i> Back To List
                </a>
                @if (Model.Approved == true)
                {
                    <a asp-action="RevertRequest" class="btn btn-dark" asp-route-id="@Model.Id">
                        <i class="fa fa-undo"></i>  Revert Request
                    </a>
                }
            </div>
